section{
    text-align: center;

    h1{
        font-size: 2em;
        font-weight: inherit;
        margin-bottom: 10px;
    }
}

article{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
    width: 433px;
    margin-left: 10px;

    img{
        width: 433px;
        height: 350px;
        margin-bottom: 20px;
    }
    h2{
        font-size: 20px;
        margin-bottom: 10px;
    }
    a{
        color: $gris_principal;
    }
}